@model covidance.Data.PersonInfo

@{
    ViewData["Title"] = "Details";
}

<div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2">@ViewBag.Title  (<a asp-action="Index">Cancel</a>)</h3>
</div>

<div class="flex flex-wrap">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
